.env
.env.local
dist/
build/
Dockerfile
node_modules/
*.log
*.lock
coverage/
.vscode/
.idea/
.DS_Store
*.pem
*.crt
*.key
*.pfx
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.tgz
templates/index.html
servers.json